<!DOCTYPE html>
{% load static %} {% csrf_token %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Server Bot{% endblock %}</title>
    <link rel="shortcut icon" href="{% block icon %}{% static 'images/icons/favicon.ico' %}{% endblock %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <style>
      .headerContainer {
        grid-area: header;
      }
      .leftContainer {
        grid-area: left;
      }
      .mainContainer {
        grid-area: main;
      }
      .rightContainer {
        grid-area: right;
      }
      .footerContainer {
        grid-area: footer;
      }
    </style>
    {% block header_style %}
    <!-- This block is for specific scripts needed by child templates -->
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block extra_head %}
    <!-- Child templates can insert additional head content here -->
    {% endblock %}
  </head>
  <body>
    <div class="grid-container">
      <div class="headerContainer">{% include 'header.html' %} {% include 'navbar.html' %}</div>
      <div class="leftContainer">Menu</div>
      <div class="mainContainer">
        <a id="top"></a>
        {% block baseblock %}
        <!-- Main content goes here -->
        {% endblock %}
      </div>
      <div class="rightContainer">Right</div>
      <div class="footerContainer">{% include 'footer.html' %}</div>
    </div>
  </body>
</html>
