<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Server Bot{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}" type="image/x-icon"></script>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      .headerContainer {
        grid-area: header;
      }
      .leftContainer {
        grid-area: left;
      }
      .mainContainer {
        grid-area: main;
      }
      .rightContainer {
        grid-area: right;
      }
      .footerContainer {
        grid-area: footer;
      }
    </style>
  </head>
  <body>
    <div class="grid-container">
      <div class="headerContainer">{% include 'header.html' %} {% include 'navbar.html' %}</div>
      <div class="leftContainer">Menu</div>
      <div class="mainContainer">
        <main>
        <a id="top"></a>
        {% block baseblock %}
        <!-- Main content goes here -->
        {% endblock %}
        </main>
      </div>
      <div class="footerContainer">{% include 'footer.html' %}</div>
    </div>
  </body>
</html>
