{% load static %}
<h3>
  <h3>5
    <button type="button" id="update-button" onclick="" alt="Refresh">
      <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none">
        <path
          d="M4.06189 13C4.02104 12.6724 4 12.3387 4 12C4 7.58172 7.58172 4 12 4C14.5006 4 16.7332 5.14727 18.2002 6.94416M19.9381 11C19.979 11.3276 20 11.6613 20 12C20 16.4183 16.4183 20 12 20C9.61061 20 7.46589 18.9525 6 17.2916M9 17H6V17.2916M18.2002 4V6.94416M18.2002 6.94416V6.99993L15.2002 7M6 20V17.2916"
          stroke="#000000"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <span class="visually-hidden">Refresh</span></button
    > Commands
  </h3>
  <small>(last update: {{now_date|default:"None"}})</small>
</h3>
<div class="vertical-container">
  {% for program in programs %}
  <div class="card">
    <a href="#" class="card-link" onclick="fetchProgramDetails({{ program.id }}); return false;">
      <h3 class="card-title">{{program.name}}</h3>
    </a>
    <em>{{program.description}}</em>
  </div>
  {% endfor %}
</div>
<script>
  // This function runs once the document (web page) is fully loaded
  document.addEventListener("DOMContentLoaded", function () {
    // Automatically load the component when the page is loaded
    //loadProgramComponent();

    $("#update-button").click(updatePrograms);
    $("#test-button").click(testPrograms);
  });

  function getProgramsStatus() {
    fetch(`{% url 'refresh_processes_status' %}`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": getCookie("csrftoken"),
      },
    })
      .then((response) => response.json())
      .then((data) => {
        $("#programs_console").html("");
        // Replace the content of the element with id 'component_programs' with the new HTML
        $("#programs_console").text(data);
      })
      .catch((error) => {});
  }
</script>
<script src="{% static 'js/component_program.js' %}"></script>
<script src="{% static 'js/button_call_api.js' %}"></script>
