{% extends 'main.html' %} {% load static %} {% block title %}Test Page{% endblock %} {% block baseblock %}
<h1>Function testing</h1>

<button onclick="executeFunction('button1')">Button 1</button>
<button onclick="executeFunction('button2')">Button 2</button>
<button onclick='getHTMLfromAPI("{% url "test_page" %}")'>Button 3</button>
<button onclick="executeFunction('button4')">Clear console</button>

<h2>Console Log:</h2>
<div id="console"></div>
<div id="container"></div>

<script src="{% static 'js/button_call_api.js' %}"></script>
{% endblock %}
