{% extends 'main.html' %}

{% block title %}
Server Bot
{% endblock %}

{% block baseblock %}
{% load static %}
<main>
    <div id="tab1" class="tab-content">
        {% include 'bot/component_activity.html' %}
    </div>

    <div id="programs-container" class="tab-content">
        <div id="component_programs">
        {% include 'bot/component_program.html' %}
        </div>
    </div>

    <div id="tab3" class="tab-content">
        <h2>Configuration</h2>
        <p>Information about configuring the Telegram Bot Manager...</p>
    </div>

    <div id="tab4" class="tab-content">
        <h2>About</h2>
        <p>Remote Task Manager v23.1113.01</p>
        <p>A compilation of utilities to manage your own PC using a Telegram bot to send commands.</p>
    </div>
</main>
{% endblock %}

{% block footer_scripts %}

{% endblock %}